
.page-bg {
    background-color: #374765;
}
.our-pricing-plan {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 30px;
    width: 1140px;
}
.pricing-plan-title {
    width: 310px;
    vertical-align: middle;
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.title-font-size {
    font-size: 30px;
}
.name-font-size {
    font-size: 30px;
}
.pricing-plan-name {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 277px;
    font-family: 'Arimo', sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.pricing-plan-value {
    padding-top: 18px;
    padding-bottom: 18px;
    display: inline-block;
}
.value-link {
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
}
.pricing-plan-period {
    padding-top: 18px;
    padding-bottom: 18px;
    display: inline-block;
    text-align: left;
}
.period-item {
    padding-bottom: 6px;
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 24px;
    font-weight: 700;
}
.period-link {
    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 18px;
    text-transform: uppercase;
}
.pricing-plan-shadow-item {
    box-shadow: inset -2.5px 0px rgba(0, 0, 0, 0.1);
}
.thead-shadow {
    box-shadow: -2.5px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.pricing-plan-text {
    padding-top: 28px;
    padding-bottom: 28px;
    width: 277px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color:  #848484;
    font-size: 16px;
    text-transform: uppercase;
}
.pricing-plan-bg-white-grey {
    background-color: #f2f2f2;
}
.pricing-plan-bg-grey {
    background-color: #e3e3e3;
}
.background-color-white {
    background-color: #ffffff;
}
.background-color-green{
    background-color: #89c331;
}
.background-color-red {
    background-color: #f04a56;
}
.background-color-blue {
    background-color: #20807c;
}
.background-color-dark-grey {
    background-color: #484848;
}
.fas {
    padding-right: 15px;
    color: #848484;
}
.far {
    padding-right: 15px;
    color: #848484;
}
.pricing-plan-button {
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
}
.button-link {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 5px;
    font-family: 'Arimo', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.button-background-color {
    background-color: #dedede;
}
.button-grey-shadow {
    box-shadow: inset 0 -7px #404040;
}
.button-green-shadow {
    box-shadow: inset 0 -7px #79b027;
}
.button-red-shadow {
    box-shadow: inset 0 -7px #df3a46;
}
.button-blue-shadow {
    box-shadow: inset 0 -7px #16736f;
}


